{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <h1>Login to Rango</h1>
    <form id="form-signin" method="post" role="form" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" type="text" id="id_username" name="username" placeholder="Username" maxlength="254" required autofocus="" />
        <input class="form-control" type="password" id="id_password" name="password" placeholder="Password" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
    </form>
{% endblock %}